*{
  box-sizing: border-box;
}
main{
 padding: 10px;
 margin: 0 auto;
 max-width: 800px;
 
}
body{
  color: #222;
}
img{
  max-width: 100%;
}

header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
  text-decoration: none;
}
header a{
  text-decoration: none;
  color: inherit;
  font-weight: bolder;
}

header a.logo{
  font-weight: bolder;
  font-size: 1.6rem;
  
}

header nav{
  display: flex;
  gap: 15px;
}

div.post{
  display: inline;
  grid-template-columns: .9fr , 1.1fr;
  gap: 20px;
}
.post div.content h2{
  margin: 0;
  font-size: 1.4rem;
}

div.post p.info{
  margin:   0px;
  color: #888;
  font-weight: bold;
  display: flex;
  gap: 25px;
  font-size: .7rem;
}
div.post a.author{
  color: #333;
}

div.post p.summary{
  margin: .2px , 0;
  font-style: italic;
}

form.login h1, form.register h1{
  text-align: center;
  display: grid;
}

form.login ,  form.register{
  margin: 0 auto;
  max-width: 400px;
  text-align: end;
}
input{
  display: block;
  width: 100%;
 margin-bottom: 5px;
 padding: 5px ;
 border: 2px solid black;
 border-radius: 5px;
 background-color: #fff;
}
button{
  width: 100%;
  display: block;
  background-color: #555;
  border: 1px solid black;
  border-radius: 3px;
  color: #fff;
  padding: 5px;
}

div.post div.texts h2{
  margin:0;
  font-size: 1.8rem;
  text-decoration: none;
  color: black;

}

.background-image {
  background-image: url('');
  background-size: cover; /* Adjust as needed */
  background-position: center; /* Adjust as needed */
  background-repeat: no-repeat;
  height: 100vh; /* Adjust as needed */
}